body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-size: 16px;

    @include smaller($sm) {
        font-size: 12px;
    }
}

:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}