.about {
    display: flex;
    flex-direction: column;
    color: $primary-color;
    align-items: center;
    width: 100%;

    &__title {
        font-style: normal;
    }

    &__description {
        width: 50%;
        color: #bfbfbf;

        @include between($md, $xl) {
            width: 70%;
        }

        @include smaller($md) {
            width: 90%;
        }
    }
}