.card {
    display: flex;
    height: 20dvh;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
    cursor: pointer;

    &__color {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: #1f1f1f;
        color: #fafafa;
        box-sizing: border-box;
        border-radius: .5rem;
        padding: .5rem 1rem;
        margin-bottom: .5rem;
    }

    &__countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1f1f1f;
        background-color: #fafafa;
        border-radius: .5rem;
        padding: .5rem 1rem;
    }

    &::after {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #fafafa00;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        transition: .2s ease;
    }

    &:hover {

        &::after {
            background-color: #fafafa30;
        }
    }

    &:active {

        &::after {
            background-color: #fafafa60;
        }
    }
}